[Unit]
Description=Start or restart media-server using Docker Compose
Wants=media-server.target
After=media-server.target

[Service]
Type=oneshot
ExecStart=/usr/bin/docker-compose --env-file /home/alex/projects/media-server/.env up --build -d
User=%i
WorkingDirectory=/home/alex/projects/media-server

[Install]
WantedBy=default.target

